<h1>Sign In</h1>

  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>

  <%= form_for(:session, :url => session_path) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.button :submit %>
  <% end %>


<%= link_to 'Sign up to', new_user_path %>
