<h1>Matt's Page</h1>
<p>Welcome to my very own webpage!</p>

<div class="white_strip">
</div>


<section class="row1">
  <box class="profile_photo">
    <img src="<%= @webpage.photo %>"/>
  </box>

  <box class="blog_content">
    <%= form_for @blog do |t| %>
    <%= t.timestamp :date, :time %>
    <%= t.text_field :content %>
    <% end %>
  </box>
</section>


<section class="row2">
  <box class="instagram">
    <img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png">
  </box>
</section>



<style>
body {
  background-color: #<%= @webpage.color %>;
}
</style>
